* {
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#FFA69E 0%, #861657 74%);
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

#question{
    padding:1rem;
}

.container-quest{

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 400px;
}

button{
    display: block;
    background-color: purple;
    border: none;
    color: white;
    padding: 2rem;
    width: 100%;
}